<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?:ital@1&display=swap" rel="stylesheet">
    <title>Zakat”Calculator:</title>
    <link rel="stylesheet" href="calculator.component.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
 <h1>rates :</h1>
          <table class="table table-dark">
              <thead>
                <tr>
                  <th scope="col">key</th>
                  <th scope="col">value</th>
                </tr>
              </thead>
              
              <tbody>
                <tr *ngFor="let x of metals.rates | keyvalue ">
                  <td *ngIf="x.key === 'XAG' || x.key === 'XAU'">{{ x.key}}</td>
                  <td *ngIf="x.key === 'XAG' || x.key === 'XAU'">{{ x.value}}</td>
                
                </tr>
              </tbody>
            </table>  
            <div *ngFor="let rate of xagXauRates">
                {{ rate.currency }}: {{ rate.value }}
              </div>

<body>
    <div class="container">
        <div class="banner input-field">
            <div class="row">
                <h3 class="banner-text">"In the Name of Allah, the Merciful, the Most Beneficent."</h3>
            </div>
            <div class="row">
                <h3 class="mt-5 banner-text">“The wealth of a person does not decrease by paying Zakat” (Sahih Bukhari):
                </h3>
            </div>
            <div class="row">
                <h1>Zakat;Calculator</h1>
            </div>
            <div class="container">
                <div class="row">
                    <div class="input-field">
                        <div class="input-field-1">
                            <div>
                                <form [formGroup]="myForm" autocomplete="off">
                                    <div class="input-field-text">
                                        <h1>Assets <span id="totle-g"></span></h1>
                                    </div>
                                    <div class="inputBox">
                                        <input id="input-1"  required="required" [(ngModel)]="cachHome" name="cachHome">
                                        <span>Enter Cash in Your Home:{{cachHome}}</span>
                                        <i></i>
                                    </div>
                                    <div class="inputBox">
                                        <input id="input-1" required="required" [(ngModel)]="owedToYou" name="owedToYou">
                                        <span>Enter money owed to you:{{owedToYou}}</span>
                                        <i></i>
                                    </div>
                                    <div class="inputBox">
                                        <input id="input-1"  required="required" [(ngModel)]="bankSaving" name="bankSaving">
                                        <span>Enter bank saving:{{bankSaving}}</span>
                                        <i></i>
                                    </div>
                                    <div class="inputBox">
                                        <input id="input-1"  required="required" [(ngModel)]="otherAssets" name="otherAssets">
                                        <span>Enter other assets:{{otherAssets}}</span>
                                        <i></i>
                                    </div>
                                    <div class="inputBox" >
                                        <input id="input-2" formControlName="gold" required="required" [(ngModel)]="Gold" name="Gold">
                                        <span>Enter Gold:{{Gold}}</span>
                                        <i></i>
                                    </div>
                                     <div class="input-field-text" > 
                                            <h3 >Total value of Gold: <span id="totle-g"></span></h3>
                                        </div>
                                    
                                    <div class="inputBox">
                                        <input id="input-3" formControlName="silver"  required="required" [(ngModel)]="Silver" name="Silver">
                                        <span>Enter Silver:{{Silver}}</span>
                                        <i></i>
                                    </div>
                                    <div class="input-field-text">
                                        <h3>Total value of Silver: <span id="totle-g"></span></h3>
                                    </div>
                                    <div class="input-field-text">
                                        <h3>Total assets: <span id="totle-g"></span></h3>
                                    </div>
                                    <div class="input-field-text">
                                        <h1>Liabilities <span id="totle-g"></span></h1>
                                    </div>
                                    <div class="inputBox">
                                        <input id="input-2"  required="required" [(ngModel)]="Liabilities" name="Liabilities">
                                        <span>Enter debt you owe:{{Liabilities}}</span>
                                        <i></i>
                                    </div>
                                    
                                </form>
                            </div>
                            <div>
                                <button class="glow-on-hover" onclick="calculate()">calculate</button>
                            </div>
                            <div class="input-field-text">
                               
                                <h3>Totle Amount is: <span id="totle-a"></span></h3>
                                <h3>Totle Zakat Amount is: <span id="totle-z"></span></h3>
                            </div>
                            <div>
                                <button class="glow-on-hover mb-5">
                                    <a href="https://www.saylaniwelfare.com/en/donate" target="_blank">Donate now
                                    </a>
                                </button>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            
        </div>
    </div>
    <div>
        <h1>metals :</h1>
        <table class="table table-dark">
            <thead>
              <tr>
                <th scope="col">success</th>
                <th scope="col">baseCurrency</th>
                <th scope="col">rates</th>
              </tr>
            </thead>
            
            <tbody>
              <tr *ngFor="let metal of metals | keyvalue">
                <td>{{metal.key}}</td>
                <td>{{metal.value}}</td>
                <!-- <td *ngIf="metal.key== 'rates'">{{ metal.rates['EUR'] }}</td> -->
                
              </tr>
            </tbody>
          </table>
          

      </div>

    <script src="app.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>